body {
  font-family: 'Cutive Mono', monospace;
  font-family: 'Share Tech Mono', monospace;
  /* background-color: #7acbd7; */
    background-color: #AEE5ED;
  }
  
  textarea[type=text] {
    background-color: #282C34;
    border: 2px solid grey;
    color: #ff0000;
  }

  textarea[type=text]:focus, textarea:focus {
    box-shadow: 0 0 10px #eefdb8;
    border: 1.5px solid  #f0fdc1;
    background-color: #28342d;
    color: #eefdb8;
  }

  textarea[type=text][disabled] {
    color: rgb(255, 0, 0);
    font-style: bold;
    box-shadow: 0 0 14px #eefdb8;
    border: 1.5px solid  #fddcc1
 }

  #showTextCont {
    padding-top: 10px;
  }

  #inputText {
    padding-top: 10px;
  }

  #inputBox {
    padding-top: 10px;
    color: #eefdb8;
  }

  #file {

  }

  #topBar {
    background-color: #f96876;
    padding: 20px;
  }

  #title {
    color: #eefdb8;
    padding-top: 20px;
    font-weight: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #9fdbc9;
  }

  .typeArea {
    width: 30%;
    display: block;
  }